<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.data.local.app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopChef"
        tools:targetApi="31">
        <activity
            android:name=".fature_import_recipe.activities.ImportRecipeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature_fullscreen_image.FullscreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_shopping_list.activities.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_edit_recipe.EditRecipeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_profile.activities.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_shopping_list.activities.ShoppingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_add_recipe.ui.activity.AddRecipeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature_see_all.ui.activity.SeeAllActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_recipe_detail.ui.activity.RecipeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_search.activities.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature_feed_main.ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>